#.htaccess
RewriteEngine on
RewriteRule (^/xmex!.*$) service.php [L]
RewriteRule (^.*$) content/$1 [L]

# The root directory is protected.
# All requests are redirected to the /content subdirectory.

<Directory />
    Options -Indexes
    AllowOverride None
    Require all granted
    DirectoryIndex index.html openAPI.html
</Directory>
